# CapiscIO Unified Documentation
# Monorepo aggregating all product documentation

site_name: CapiscIO Documentation
site_url: https://docs.capisc.io
site_description: Unified documentation for CapiscIO - The Authority Layer for the Agent-to-Agent (A2A) Protocol.
site_author: CapiscIO Team
copyright: Copyright &copy; 2025 CapiscIO

repo_name: capiscio
repo_url: https://github.com/capiscio
edit_uri: ""

theme:
  name: material
  logo: assets/logo.png
  favicon: assets/favicon.ico
  palette:
    - scheme: slate
      primary: blue grey
      accent: cyan
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
    - scheme: default
      primary: blue grey
      accent: cyan
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
  
  features:
    - navigation.instant
    - navigation.instant.progress
    - navigation.tracking
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.sections
    - navigation.expand
    - navigation.path
    - navigation.indexes
    - navigation.top
    - navigation.footer
    - toc.follow
    - toc.integrate
    - search.suggest
    - search.highlight
    - search.share
    - content.code.copy
    - content.code.annotate
    - content.tabs.link
    - content.tooltips
    - header.autohide

plugins:
  - search
  - monorepo:
      enabled: !ENV [ENABLE_MONOREPO, true]
  - git-revision-date-localized:
      enable_creation_date: true
      type: timeago
      fallback_to_build_date: true
      enabled: !ENV [ENABLE_GIT_DATES, true]
      strict: false

markdown_extensions:
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - tables
  - toc:
      permalink: true
      permalink_title: Anchor link to this section
      toc_depth: 3
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.snippets:
      check_paths: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
      combine_header_slug: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

extra:
  homepage: https://docs.capisc.io
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/capiscio
      name: CapiscIO on GitHub
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/capiscio
      name: CapiscIO on Twitter

nav:
  - Home: index.md
  
  - Concepts:
      - Validation Process: concepts/validation.md
      - Scoring System: concepts/scoring.md

  - Validate:
      - Node CLI: '!include ../capiscio-node/mkdocs.yml'
      - GitHub Action: '!include ../validate-a2a/mkdocs.yml'
      - Python CLI: '!include ../capiscio-python/mkdocs.yml'

  - Secure:
      - Python SDK: '!include ../capiscio-sdk-python/mkdocs.yml'

  - Platform:
      - Core Engine: '!include ../capiscio-core/mkdocs.yml'

# watch:
#   - docs
#   - ../capiscio-core/docs
#   - ../capiscio-python/docs
#   - ../capiscio-node/docs
#   - ../validate-a2a/docs
#   - ../capiscio-sdk-python/docs
